In [1]:
import pandas as pd
import numpy as np
import requests
import warnings
from dotenv import load_dotenv
from datetime import datetime
import os
import json
import matplotlib.pyplot as plt

load_dotenv()
warnings.simplefilter("ignore", pd.errors.SettingWithCopyError)

In [2]:
landslides = pd.read_excel("../datasets/original/Colombia Lansdslides Table.xlsx")

display(landslides.info())
landslides

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2266 entries, 0 to 2265
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Occurrence Date        2266 non-null   datetime64[ns]
 1   Department             2266 non-null   object
 2   Municipality           2266 non-null   object
 3   Lat                    2266 non-null   object
 4   Long                   2266 non-null   object
 5   Confidence ratio (km)  2266 non-null   object
 6   Deaths                 2266 non-null   int64
 7   Trigger                2266 non-null   object
 8   Source                 2266 non-null   object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 159.5+ KB

None

,Occurrence Date,Department,Municipality,Lat,Long,Confidence ratio (km),Deaths,Trigger,Source
0,1934-05-30,ANTIOQUIA,ABRIAQUI,6.63,-76.09,9.65,5,Rainfall,CNMM
1,1934-09-29,BOGOTA,BOGOTA,4.63,-74.11,11.6,2,Human activity,HEB
2,1934-11-18,CALDAS,CHINCHINA,4.97,-75.66,5.92,1,Unknown,CNMM
3,1934-11-28,VALLE DEL CAUCA,CALI,3.4,-76.58,13.44,2,Unknown,CNMM
4,1934-11-29,QUINDIO,ARMENIA,4.5,-75.73,6.17,1,Unknown,DESINVENTAR
...,...,...,...,...,...,...,...,...,...
2261,2020-12-01,BOLIVAR,BARRANCO DE LOBA,8.84,-74.28,11.68,3,Human activity,News Report - UNGRD
2262,2020-12-03,RISARALDA,PEREIRA,4.8,-75.8,13.91,1,Unknown,UNGRD
2263,2020-12-12,ANTIOQUIA,SAN LUIS,6,-75.05,0.1,2,Unknown,News Report
2264,2020-12-15,ANTIOQUIA,MEDELLIN,6.25,-75.58,6.5,2,Human activity,News Report
2265,2020-12-25,ANTIOQUIA,ITAGUI,6.18,-75.61,2.53,2,Earthquake,News Report - UNGRD

In [3]:
landslides.sort_values(["Lat", "Long"])

,Occurrence Date,Department,Municipality,Lat,Long,Confidence ratio (km),Deaths,Trigger,Source
641,1972-07-26,PUTUMAYO,PUERTO ASIS,0.43,-76.52,29.96,4,Unknown,CTM96 - DESINVENTAR
338,1962-08-16,NARIÑO,IPIALES,0.5,-77.24,22.45,14,Unknown,CNMM
1125,1988-04-22,NARIÑO,IPIALES,0.5,-77.24,22.45,29,Unknown,CNMM
1165,1988-12-03,NARIÑO,IPIALES,0.5,-77.24,22.45,15,Rainfall,DESINVENTAR
1284,1994-08-03,NARIÑO,IPIALES,0.5,-77.24,22.45,2,Unknown,DESINVENTAR
...,...,...,...,...,...,...,...,...,...
1445,2000-04-19,NARIÑO,UNKNOWN,-,-,-,1,Rainfall,DESINVENTAR
1454,2000-07-02,ANTIOQUIA,UNKNOWN,-,-,-,1,Rainfall,DESINVENTAR
1455,2000-08-18,NARIÑO,UNKNOWN,-,-,-,9,Human activity,DESINVENTAR
1513,2004-03-05,CUNDINAMARCA,UNKNOWN,-,-,-,1,Rainfall,DESINVENTAR
1749,2009-05-25,CHOCO,LITORAL DEL SAN JUAN,-,-,-,1,Unknown,UNGRD

In [4]:
landslides = landslides[landslides["Lat"] != "-"]
landslides[["Lat", "Long", "Confidence ratio (km)"]] = landslides[["Lat", "Long", "Confidence ratio (km)"]].astype(float)

display(landslides.info())
landslides

<class 'pandas.core.frame.DataFrame'>
Index: 2240 entries, 0 to 2265
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Occurrence Date        2240 non-null   datetime64[ns]
 1   Department             2240 non-null   object
 2   Municipality           2240 non-null   object
 3   Lat                    2240 non-null   float64
 4   Long                   2240 non-null   float64
 5   Confidence ratio (km)  2240 non-null   float64
 6   Deaths                 2240 non-null   int64
 7   Trigger                2240 non-null   object
 8   Source                 2240 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 175.0+ KB

/var/folders/24/0bddfjxx3258qzvf6pn5md3c0000gn/T/ipykernel_92610/3499650345.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  landslides[["Lat", "Long", "Confidence ratio (km)"]] = landslides[["Lat", "Long", "Confidence ratio (km)"]].astype(float)

None

,Occurrence Date,Department,Municipality,Lat,Long,Confidence ratio (km),Deaths,Trigger,Source
0,1934-05-30,ANTIOQUIA,ABRIAQUI,6.63,-76.09,9.65,5,Rainfall,CNMM
1,1934-09-29,BOGOTA,BOGOTA,4.63,-74.11,11.60,2,Human activity,HEB
2,1934-11-18,CALDAS,CHINCHINA,4.97,-75.66,5.92,1,Unknown,CNMM
3,1934-11-28,VALLE DEL CAUCA,CALI,3.40,-76.58,13.44,2,Unknown,CNMM
4,1934-11-29,QUINDIO,ARMENIA,4.50,-75.73,6.17,1,Unknown,DESINVENTAR
...,...,...,...,...,...,...,...,...,...
2261,2020-12-01,BOLIVAR,BARRANCO DE LOBA,8.84,-74.28,11.68,3,Human activity,News Report - UNGRD
2262,2020-12-03,RISARALDA,PEREIRA,4.80,-75.80,13.91,1,Unknown,UNGRD
2263,2020-12-12,ANTIOQUIA,SAN LUIS,6.00,-75.05,0.10,2,Unknown,News Report
2264,2020-12-15,ANTIOQUIA,MEDELLIN,6.25,-75.58,6.50,2,Human activity,News Report
2265,2020-12-25,ANTIOQUIA,ITAGUI,6.18,-75.61,2.53,2,Earthquake,News Report - UNGRD

In [5]:
landslides.describe()

,Occurrence Date,Lat,Long,Confidence ratio (km),Deaths
count,2240,2240.000000,2240.000000,2240.000000,2240.000000
mean,1987-08-02 23:06:38.571428480,5.118714,-75.272795,10.713237,16.127679
min,1934-05-30 00:00:00,0.430000,-78.600000,0.100000,1.000000
25%,1971-04-20 18:00:00,4.410000,-75.860000,6.170000,1.000000
50%,1988-09-17 00:00:00,5.070000,-75.510000,9.460000,2.000000
75%,2008-11-03 18:00:00,6.260000,-74.947500,13.430000,4.000000
max,2020-12-25 00:00:00,12.000000,75.750000,74.660000,21697.000000
std,NaN,1.890475,3.391700,7.528650,460.265346

In [6]:
landslides["Long"] = landslides["Long"].apply(lambda x: x if x <= 0 else -1 * x)

landslides.describe()

/var/folders/24/0bddfjxx3258qzvf6pn5md3c0000gn/T/ipykernel_92610/390575073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  landslides["Long"] = landslides["Long"].apply(lambda x: x if x <= 0 else -1 * x)

,Occurrence Date,Lat,Long,Confidence ratio (km),Deaths
count,2240,2240.000000,2240.000000,2240.000000,2240.000000
mean,1987-08-02 23:06:38.571428480,5.118714,-75.340429,10.713237,16.127679
min,1934-05-30 00:00:00,0.430000,-78.600000,0.100000,1.000000
25%,1971-04-20 18:00:00,4.410000,-75.860000,6.170000,1.000000
50%,1988-09-17 00:00:00,5.070000,-75.510000,9.460000,2.000000
75%,2008-11-03 18:00:00,6.260000,-74.950000,13.430000,4.000000
max,2020-12-25 00:00:00,12.000000,-68.010000,74.660000,21697.000000
std,NaN,1.890475,1.145650,7.528650,460.265346

In [7]:
landslides_recent = landslides[landslides["Occurrence Date"].dt.year >= 2010].reset_index(drop = True)

landslides_recent

,Occurrence Date,Department,Municipality,Lat,Long,Confidence ratio (km),Deaths,Trigger,Source
0,2010-01-10,BOGOTA,BOGOTA,4.63,-74.11,11.60,1,Unknown,HEB
1,2010-02-25,CUNDINAMARCA,VILLETA,5.01,-74.49,6.70,1,Rainfall,UNGRD
2,2010-04-10,TOLIMA,HERVEO,5.11,-75.19,1.52,1,Unknown,UNGRD
3,2010-04-10,VALLE DEL CAUCA,CALI,3.40,-76.58,13.44,1,Unknown,UNGRD
4,2010-04-29,BOGOTA,BOGOTA,4.63,-74.11,11.60,1,Unknown,UNGRD
...,...,...,...,...,...,...,...,...,...
499,2020-12-01,BOLIVAR,BARRANCO DE LOBA,8.84,-74.28,11.68,3,Human activity,News Report - UNGRD
500,2020-12-03,RISARALDA,PEREIRA,4.80,-75.80,13.91,1,Unknown,UNGRD
501,2020-12-12,ANTIOQUIA,SAN LUIS,6.00,-75.05,0.10,2,Unknown,News Report
502,2020-12-15,ANTIOQUIA,MEDELLIN,6.25,-75.58,6.50,2,Human activity,News Report
503,2020-12-25,ANTIOQUIA,ITAGUI,6.18,-75.61,2.53,2,Earthquake,News Report - UNGRD

In [8]:
min_year = 2010
max_year = 2020
min_date = pd.to_datetime("{}-01-01".format(min_year), format = "%Y-%m-%d")
max_date = pd.to_datetime("{}-12-31".format(max_year), format = "%Y-%m-%d")
delta = 0
curr_date = min_date + pd.Timedelta(days=delta).strftime("%Y-%m-%d")

while curr_date < max_date:
    for

array([2010., 2011., 2012., 2013., 2014., 2015., 2016., 2017., 2018.,
       2019., 2020.])